{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'js/user/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres completos</th>
        <th scope="col">Fecha nac.</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
        <th scope="col">Esta activo?</th>
        <th scope="col">Ultima sesión</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}